name: Daily News Agent

on:
  schedule:
    # این دستور یعنی: هر 60 دقیقه اجرا شو
    - cron: '0 * * * *'
  workflow_dispatch: # این خط اجازه می‌دهد دستی هم اجرایش کنید

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install libraries
        run: pip install -r requirements.txt

      - name: Run Agent
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
